<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://www.jorto.net" target="_blank"
    >
      Jorto
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://github.com/hieivip/chat-demo" target="_blank"
    >
      猛踹瘸子那条好腿
    </a>
  </p>
</footer>